/***************************************
MENU DAN JUDUL WEB
****************************************/
ul h1 {
    font-family: courier;
    font-size: 25px;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-top:0.2px;
    padding-top: 12px;
    padding-bottom: 3px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li i{
    padding-right: 1px;
}

/*********Tulisan Deskripsi Web*************/

.welcome{
	height:auto;
	background-color:#FFF;
	padding:20px;
	text-align:justify;
}

.welcome-h2{
	text-align:center;
	font-size:24px;
}

/*********Kotak Web*************/



.kotak{
	margin-top: 40px;
	margin-bottom: 0px;
	height:230px;
}

.kotak p{
	text-align: center;
}



/*********FOOTER*************/

footer{
	margin-top:10px;
	height:210px;
	background-color:#333;
}

footer p{
    color: white;
    padding-top: 0px;
    font-style: italic;
    text-align: center;
}

.col-md-6 p {
    font-style: italic;
    color: white;
    text-align: justify;
    padding-left: 30px;
    padding-top: 0px;
}

.col-md-6 h3{
    color: white;
    padding-left:15px;
}