/***************************************
MENU DAN JUDUL WEB
****************************************/
ul h1 {
    font-family: courier;
    font-size: 25px;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-top:0.2px;
    padding-top: 12px;
    padding-bottom: 3px;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li i{
    padding-right: 1px;
}

/*********Tulisan Deskripsi Web*************/

.welcome{
	height:auto;
	background-color:#FFF;
	padding:20px;
	text-align:justify;
}

.welcome-h2{
	text-align:center;
	font-size:24px;
}

/*********Kotak Web*************/

.pembungkus{
	height:280px;
	
}

.col-md-4{
	margin-top: 100px;
	margin-bottom: 0px;
}

.col-md-4 p{
	text-align: center;
}
/*********FOOTER*************/
